<h1><%= t('devise.views.user_detail') %></h1>

<ul>
  <li><%= User.human_attribute_name(:email) %><br><%= @user.email %></br></br>
  <li><%= User.human_attribute_name(:postalcode) %><br><%= @user.postalcode %></br></br>
  <li><%= User.human_attribute_name(:address) %><br><%= @user.address %></br></br>
  <li><%= User.human_attribute_name(:profile) %><br><%= @user.profile %></br></br>
</ul>

<nav class="page-nav">
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>
  <%= link_to t('devise.views.user_list'), users_path %>
</nav>
