<h1><%= t('devise.views.user_detail') %></h1>

<ul>
  <li>Eメール<br><%= @user.email %></br></br>
  <li>郵便番号<br><%= @user.postalcode %></br></br>
  <li>住所<br><%= @user.address %></br></br>
  <li>自己紹介<br><%= @user.profile %></br></br>
</ul>

<nav class="page-nav">
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>
  <%= link_to t('devise.views.user_list'), users_path %>
</nav>
