<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to (t ('action.edit'), :name => (t 'activerecord.models.book')), edit_book_path(@book) %> |
  <%= link_to (t ('action.back_to_list'), :name => (t 'activerecord.models.book')), books_path %>

  <%= button_to (t ('action.destroy'), :name => (t 'activerecord.models.book')), @book, method: :delete %>
</nav>
